<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
</head>
<body>

<h1>All Events</h1>

<ul>
    <th:block th:each="event : ${events}">
        <li th:text="${event}"></li>
    </th:block>
</ul>

<!--events.put("Menteaship","A fun meetup for connecting with mentors");-->
<!--events.put("Code With Pride","A fun meetup sponsored by LaunchCode");-->
<!--events.put("Javascripty", "An imaginary meetup for Javascript developers");-->

</body>
</html>